/*
    Exercise 3 - 5 Character States
    - Allow user interaction to change the character's state
    - Mouse events
    - Change the character's state based on the user's input
    - Use the following states: denial, anger, bargaining, depression, acceptance
    - Scenario:
        > The user clicks on the character's head
        > The character's state changes to denial after a couple of clicks
        > The character's state changes to anger after a couple more clicks
        > The character's state changes to bargaining after a couple more clicks
        > The character's state changes to depression after a couple more clicks
        > The character's state changes to acceptance after a couple more clicks
        > There's a button that allows the clicks to reset
            - The character then thanks the user for resetting the clicks
        

*/

/* NORMALIZING RULES */
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    margin: 0;
    text-align: center;
    font-family: arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:azure
}
.wrap {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* END OF NORMALIZING RULES */

/* OTHER IDs */
#click-reset {
    margin: 50px auto;
}

/* OTHER CLASSES */
.banner {
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
    font-size: 2.5em;
}

.msg-prompt {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.head {
    width: 500px;
    height: 500px;
    min-width: 300px;
    min-height: 300px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

